#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.navbarClass {
  height: 3vh;
}
.addForm {
  border: 1px solid black;
  border-radius: 4px;
}

.books {
  max-width: 75%;
  margin-top: 15vh;
}

.comments {
  
  width: 100%;
  height: 50vh;
}

textarea {
  height: 35vh;
  width: 100%;
  border-color:rgb(219, 214, 214);
  border-radius: 4px;
}

.homePage {
  height: 100vh;
  display: flex;
  justify-content: center;  
  margin: auto;
}

.loginBox {
  height: 45vh;
  width: 30%;
  margin: auto;
  padding: 1.5%;
  
}